<aside class="left-side sidebar-offcanvas">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				<img src="$cdn.name("image/avatar3.jpg")" class="img-circle"/>
			</div>
			<div class="pull-left info">
				<p>嗨, $!{name}</p>
				<a href="#"><i class="fa fa-circle text-success"></i>在线</a>
			</div>
		</div>
		<ul class="sidebar-menu">
			
			#*
			CSS字体列表
			fa-dashboard
			fa-th
			fa-bar-chart-o
			fa-laptop
			fa-edit
			fa-table
			fa-calendar
			fa-envelope
			fa-folder
			*#
			
			<li class="active">
				<a href="home.htm">
					<i class="fa fa-dashboard"></i>
					<span>首页</span>
				</a>
			</li>
			
			<li>
				<a href="article_create_page.htm">
					<i class="fa fa-bar-chart-o"></i>
					<span>创建文章</span>
					##<small class="badge pull-right bg-green">new</small>
				</a>
			</li>
			
			<li>
				<a href="create_cat.htm">
					<i class="fa fa-bar-chart-o"></i>
					<span>创建文章分类</span>
					##<small class="badge pull-right bg-green">new</small>
				</a>
			</li>
			
			<li>
				<a href="#">
					<i class="fa fa-bar-chart-o"></i>
					<span>在线参数</span>
					<small class="badge pull-right bg-green">建设中</small>
				</a>
			</li>
			
			<li class="treeview">
				<a href="apps.htm">
					<i class="fa fa-laptop"></i>
					<span>管理</span>
					<small class="badge pull-right bg-yellow">4</small>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="apps.htm"><i class="fa fa-angle-double-right"></i>所有应用</a>
					</li>
					<li>
						<a href="create_app.htm"><i class="fa fa-angle-double-right"></i>创建应用</a>
					</li>
					<li>
						<a href="create_event.htm"><i class="fa fa-angle-double-right"></i>创建事件</a>
					</li>
					<li>
						<a href="create_label.htm"><i class="fa fa-angle-double-right"></i>创建标签</a>
					</li>
				</ul>
			</li>
			
			<li class="treeview">
				<a href="#">
					<i class="fa fa-th-large"></i>
					<span>活动</span>
					<small class="badge pull-right bg-yellow">2</small>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="#"><i class="fa fa-angle-double-right fa-th-list"></i>历史活动</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-angle-double-right"></i>举办活动</a>
					</li>
				</ul>
			</li>
			
			<li>
				<a href="#">
					<i class="fa fa-gear"></i>
					<span>设置</span>
					##<small class="badge pull-right bg-yellow">12</small>
					<small class="badge pull-right bg-green">建设中</small>
				</a>
			</li>
			
		</ul>
		
	</section>
</aside>