<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		
        <meta   http-equiv="Pragma" content="no-cache">  
        <meta   http-equiv="Cache-Control" content="no-cache">  
        <meta   http-equiv="Expires" content="0">
	
        <meta charset="UTF-8">
        <title>微界后台管理</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		
        <link href="$cdn.name("css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="$cdn.name("css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
        <link href="$cdn.name("css/ionicons.min.css")" rel="stylesheet" type="text/css" />
		
        <link href="$cdn.name("css/AdminLTE.css")" rel="stylesheet" type="text/css" />
		
        <!--[if lt IE 9]>
          <script src="$cdn.name("js/html5shiv.js")"></script>
          <script src="$cdn.name("js/respond.min.js")"></script>
        <![endif]-->
		
        <script src="$cdn.name("js/jquery.min.js")" type="text/javascript"></script>
        <script src="$cdn.name("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="$cdn.name("js/AdminLTE/app.js")" type="text/javascript"></script>
		
		<link href="$cdn.name("css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")" rel="stylesheet" type="text/css" />
		
		##皮肤设置
		##<script src="$cdn.name("js/AdminLTE/demo.js")" type="text/javascript"></script>
		<script type="text/javascript">
			$(function() {
                //$(".left-side").css("height", $(window).height());
                $(".left-side").css("height", $(document).height());
				
				$("#select_app").change(function(){        
                    document.selectApps.submit();
                });
				
            });
        </script>
    </head>
    <body 
		class="skin-blue"
		##class="skin-black"
		data-uid="$!{uid}" data-name="$!{name}">
		$!control.with("uid", $!{uid}).with("name", $!{name}).target("header")
        <div class="wrapper row-offcanvas row-offcanvas-left">
			$!control.with("uid", $!{uid}).with("name", $!{name}).target("left_side")
        	<aside class="right-side">
        		<section class="content-header">
        			<h1>
        				$!{nav}<small>$!{nav_desc}</small>
        			</h1>
					
        			<ol class="breadcrumb">
        				<li><a href="home.htm"><i class="fa fa-dashboard"></i>首页</a></li>
        				<li class="active">$!{nav}</li>
        			</ol>
        		</section>
        		<section class="content">
        			$!screen_placeholder
        		</section>
        	</aside>
        </div>
    </body>
</html>