<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta charset="UTF-8">
        <title>点到得到后台管理 - 登录</title>
        <link rel="Shortcut Icon" href="$cdnImg.name("favicon.ico")" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<link href="$cdn.name("css/login.css")" rel="stylesheet" type="text/css" />
        
        <!--[if gte IE 9]>
			<script src="$cdn.name("js/jquery-2.1.1.min.js")" type="text/javascript"></script>
		<![endif]-->
		
		<!--[if lt IE 9]>
        	<script src="$cdn.name("js/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<![endif]-->
		
		<!--[if !IE]><!-->
			<script src="$cdn.name("js/jquery-2.1.1.min.js")" type="text/javascript"></script>
		<!--<![endif]-->
		
        <script src="$cdn.name("js/adpacks.js")"></script>
    </head>
    <body style="background-color: #FFFFFF; margin: 0px auto; padding: 0px;width: 100%">
		$!screen_placeholder
    </body>
</html>