<!DOCTYPE HTML>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>点到得到</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="$cdn.name("i/favicon.png")">
  <link rel="stylesheet" href="$cdn.name("css/amazeui.min.css")">
  <link rel="stylesheet" href="$cdn.name("css/app.css")">

  <script src="$cdn.name("js/zepto.min.js?ver=1.1.3")"></script>
  <script src="$cdn.name("js/amazeui.js")"></script>
  <script src="$cdn.name("js/handlebars.min.js")"></script>
  <script src="$cdn.name("js/amazeui.widgets.helper.js")"></script>

</head>
<body>

<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，本系统暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

$!screen_placeholder

</body>
</html>