<!DOCTYPE html>
<html>
    <head>
        <title>NX工作室</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="m.cq.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="css/base.css" charset="UTF-8"/>
        
        <!--[if gte IE 9]>
			<script src="$cdn.name("js/jquery-2.1.1.min.js")" type="text/javascript"></script>
		<![endif]-->
		
		<!--[if lt IE 9]>
        	<script src="$cdn.name("js/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<![endif]-->
		
		<!--[if !IE]><!-->
			<script src="$cdn.name("js/jquery-2.1.1.min.js")" type="text/javascript"></script>
		<!--<![endif]-->
		
        <script type="text/javascript" defer src="js/util.js"></script>
        <link rel="stylesheet" type="text/css" href="css/blog.css" charset="UTF-8"/>
    </head>
    <body id="body">
       <header>
            <div class="new-header">
                <a href="javascript:pageBack();" class="new-a-back" id="backUrl"><span>返回</span></a>
                <h2>NX工作室</h2>
                <a href="javascript:void(0)" id="btnShare" class="new-a-share"><span>菜单</span></a>
            </div>
        </header>
        <div class="item-detail">
            <h1 class="item-title">你自认是"屌丝"吗</h1>
            <div class="item-from">
                <time>2014-11-01 19:05</time>
                <span><a href="">爆笑搞怪</a></span>
                <span>679123人阅读</span>
            </div>
            <hr class="divider">
            <div class="item-content">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;说到中国梦，我们不得不关注这么一个群体，他们年轻、受教育程度偏低、离家外出打拼、没找着另一半、用安卓手机、月平均收入2917.7元，三餐花费多在39元以内……昨日，北大市场与媒介研究中心布的全国首部《屌丝生存现状报告》为职场基层的“屌丝”们画了一张像。调查显示，21万余人中有62.2%的人将自己归类为“屌丝”，他们大多年龄分布在21-30岁间。</p>
                <br/>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;《2014屌丝生存现状报告》调查自今年9月1日至10月1日，共回收问卷213795份，样本覆盖全国50多个大中小型城市，因此还是具有一定代表性的。看了“画像”描述的这些的特征，不少人都会自动对号入座了，不过这些看似心酸的特征，其实也没有那么不堪。</p>
                <br/>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;就拿月平均收入2917.7元来说，前段时间的一个权威调查显示，高校毕业生平均起薪2443元/月，自称屌丝的人群，大多是刚刚毕业或者毕业不久的，拿这样的薪水并不奇怪。而还有一项调查显示，只要认真工作，就业四、五年以后的人，薪资水平大多会有一个大幅的提升。所以说，屌丝们根本无需悲观，不远的将来就会超越屌丝的标准了，谁说大家没有希望呢。</p>
                <br/>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;其实自称屌丝的人，大多并不是真的看低了自己，而是对现在境况的一种自嘲。有这样的心态，说明广大“屌丝”们并没有放弃积极向上的努力。好心态、在努力，加上大家都还年轻，一定会越来越好的。</p><p>当然，也有一些问题是大家必须承受的，比如离家远、单身和受歧视等等。调查还发现，37.8%的屌丝认为自己有心理疾病，他们基本没有得到正确的心理引导。实际上，这些问题是整个社会的问题，不止是对所谓的“屌丝”群体，所以也不得不选择乐观面对。我是屌丝我怕谁，再难过也得过不是吗。</p>
            </div>
            <div class="more-item" id="nextItem">
                <a href="#">下一篇：那些年，那些蛋疼的事</a>
            </div>
        </div>
        <div style="height:60px"></div>
        <div class="navbar">
            <ul class="navbar-nav">
                <li>
                    <a href="./home.html">
                        <span class="icon-home"></span>
                        <span class="navbar-label">首页</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-shopping"></span>
                        <span class="navbar-label">商城</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-user"></span>
                        <span class="navbar-label">我的空间</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-help"></span>
                        <span class="navbar-label">帮助</span>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>