<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">创建标签</h3>
            </div>
            <form role="form" action="label_create.htm" method="post" >
                <div class="box-body">
    				
                    <div class="form-group">
                        <label for="app">所属事件</label>
    					<div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
    						<select class="form-control" name="event_id">
        						#if($!{hasApp})
        							#foreach($app in $allApp)
        								#if($!app.hasEvent())
											#if($!{selected_app} != 0)
												##已经选择了App
												#if($!{app.id} == $!{selected_app})
													#foreach($event in $!app.eventList)
                										<option value="$!{event.id}">$!{event.name}</option>
                									#end
												#end
											#else
												##没有选择App
												<optgroup label="$!{app.name}">
                        							#foreach($event in $!app.eventList)
                										<option value="$!{event.id}">$!{event.name}</option>
                									#end
                                                </optgroup>
											#end
        								#end
        							#end
        						#else
        							<option value="0">您还没有任何应用</option>
        						#end
                            </select>
                        </div>
                    </div>
    				
                    <div class="form-group">
                        <label for="name">标签名称</label>
    					<div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input name="name" type="text" class="form-control" id="name" placeholder="标签名称"/>
                        </div>
                    </div>
    				
    				<div class="form-group">
                        <label for="name">统计模型</label>
    					<div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
    						<SELECT class="form-control" name="model_id">
    							<option value="1">默认（目前只支持默认）</option>
                            </SELECT>
                        </div>
                    </div>
    				
                    <div class="form-group">
                        <label for="description">标签描述</label>
    					<div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input name="description" type="text" class="form-control" id="description" placeholder="标签描述"/>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">创建</button>
                </div>
            </form>
        </div>
    </div>
</div>
