
<script type="text/x-handlebars-template" id="amz-tpl">
  {{>header header}}
  {{>menu menu}}
  {{>titlebar titlebar}}
  {{>paragraph paragraph_title}}
  {{>paragraph paragraph_content}}
  {{>navbar navbar}}
</script>

$!control.target("detail_tpl")
