
<script type="text/x-handlebars-template" id="amz-tpl">
  {{>header header}}
  {{>menu menu}}
  {{>slider slider}}
  {{>list_news list}}
  {{>navbar navbar}}
</script>

$!control.target("home_tpl")

