
<script type="text/x-handlebars-template" id="amz-tpl">
  {{>header header}}
  {{>menu menu}}
  {{>titlebar titlebar}}
  {{>navbar navbar}}
</script>

$!control.target("profile_tpl")

<div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">我的资料</div>
    <div class="am-panel-bd">
        <span>姓名：</span><span>www</span>
        <br/>
        <span>邮箱：</span><span>www@ww.com</span>
        <br/>
        <span>电话：</span><span>15812345678</span>
        <br/>
        <span>支付宝：</span><span>15812345678</span>
    </div>
    <div class="am-panel-hd">总业绩</div>
    <div class="am-panel-bd">
        <span>点击人数：</span><span style="color:#FF0033">100</span><span>&nbsp;IP</span>
        <br/>
        <span>点击次数：</span><span style="color:#FF0033">1000</span><span>&nbsp;PV</span>
    </div>
    <div class="am-panel-hd">今日业绩</div>
    <div class="am-panel-bd">
        <span>点击人数：</span><span style="color:#FF0033">100</span><span>&nbsp;IP</span>
        <br/>
        <span>点击次数：</span><span style="color:#FF0033">1000</span><span>&nbsp;PV</span>
    </div>
    <div class="am-panel-hd">推荐奖励</div>
    <div class="am-panel-bd">
        <span>奖励IP：</span><span style="color:#FF0033">100</span><span>&nbsp;IP</span>
        <br/>
        <span>奖励PV：</span><span style="color:#FF0033">100</span><span>&nbsp;PV</span>
        <br/>
        <span>推荐人数：</span><span style="color:#FF0033">100</span><span>&nbsp;人</span>
    </div>
    <div class="am-panel-hd">账户余额(每月1-5日业绩转为现金)</div>
    <div class="am-panel-bd">
        <span>可提现余额：</span><span style="color:#FF0033">100.00</span><span>&nbsp;元</span>
    </div>
  </div>
</div>
<br/><br/>
