
<script src="/js/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="/js/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="/js/plugins/flot/jquery.flot.pie.min.js" type="text/javascript"></script>
<script src="/js/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>

$!control.with("data", $!{data}).with("label", $!{label}).with("tip_start", $!{tip_start}).with("tip_end", $!{tip_end}).target("line_js_data")

<div class="row">
	<form role="form" action="report_line.htm" method="get" >
		<input type="hidden" name="id" value="$!{label_id}"/>
		<div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon">年份</span>
                <select name="year" class="form-control">
					<optgroup label="请选择年份维度">
						<option value="0" #if($!{selected_year} == 0) selected="selected" #end>请选择年份维度</option>
						#foreach($year in $years)
    						<option value="$!year" #if($!{selected_year} == $!year) selected="selected" #end>$!year 年</option>
    					#end
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon">月份</span>
                <select name="month" class="form-control">
					<optgroup label="请选择月份维度">
						<option value="0" #if($!{selected_month} == 0) selected="selected" #end>请选择月份维度</option>
						#set($months = [1 .. 12])
    					#foreach($month in $months)
    						<option value="$!month" #if($!{selected_month} == $!month) selected="selected" #end>$!month 月</option>
    					#end
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-addon">日份</span>
                <select name="day" class="form-control">
					<optgroup label="请选择日份维度">
						<option value="0" #if($!{selected_day} == 0) selected="selected" #end>请选择日份维度</option>
						#set($days = [1 .. 31])
    					#foreach($day in $days)
    						<option value="$!day" #if($!{selected_day} == $!day) selected="selected" #end>$!day 日</option>
    					#end
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-addon">统计维度</span>
                <select name="type" class="form-control">
					<optgroup label="请选择统计维度">
						<option value="0" #if($!{selected_type} == 0) selected="selected" #end>请选择统计维度</option>
						<option value="1" #if($!{selected_type} == 1) selected="selected" #end>年</option>
    					<option value="2" #if($!{selected_type} == 2) selected="selected" #end>月</option>
    					<option value="3" #if($!{selected_type} == 3) selected="selected" #end>日</option>
    					<option value="4" #if($!{selected_type} == 4) selected="selected" #end>时</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
	</form>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
		
        <div class="box box-primary">
            <div class="box-header">
                <i class="fa fa-bar-chart-o"></i>
                <h3 class="box-title">$!{label}统计</h3>
            </div>
            <div class="box-body">
                <div id="line-analytis" style="height: 450px;"></div>
            </div>
        </div>

    </div>
</div>

<script src="/js/report-line.js" type="text/javascript"></script>
