
<script type="text/x-handlebars-template" id="amz-tpl">
  {{>header header}}
  {{>menu menu}}
  {{>titlebar titlebar}}
  {{>accordion accordion}}
  {{>navbar navbar}}
</script>

$!control.target("study_tpl")
