<div class="row">
    <div class="col-xs-12">
		<div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">创建应用</h3>
            </div>
            <form role="form" action="app_create.htm" method="post" >
                <div class="box-body">
                    <div class="form-group">
                        <label for="name">应用名称</label>
    					<div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input name="name" type="text" class="form-control" id="name" placeholder="应用名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">应用描述</label>
    					<div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input name="description" type="text" class="form-control" id="description" placeholder="应用描述"/>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">创建</button>
                </div>
            </form>
        </div>
	</div>
</div>