#if($!hasUser)
	<link href="$cdn.name("css/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
	
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-danger">
	            <div class="box-body table-responsive">
	                <table id="userinfo" class="table table-bordered table-hover">
	                    <thead>
	                        <tr>
	                            <th>账户ID</th>
	                            <th>账户名</th>
	                            <th>全名</th>
	                            <th>手机号</th>
	                            <th>邮箱</th>
	                            <th>账户余额</th>
	                            <th>状态</th>
	                            <th>操作</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                       <tr >
	                    		<td >$!{user.id}</td>
	                    		<td >$!{user.name}</td>
	                    		<td >$!{user.fullname}</td>
	                    		<td >$!{user.mobile}</td>
	                    		<td >$!{user.email}</td>
	                    		<td >$!{user.accountBalance}</td>
	                    		<td >
	                    			#if($!{user.status} == "active")
	                    				已激活
	                    			#elseif($!{user.status} == "locked")
	                    				已锁定
	                    			#elseif($!{user.status} == "banned")
	                    				已禁止
	                    			#elseif($!{user.status} == "deleted")
	                    				已删除
	                    			#end
	                            </td>
	                            <td >
                        			<a href="revenue_user.htm?uid=$!{user.id}">转账</a>
                                </td>
	                        </tr>
	                    </tbody>
						
	                </table>
	            </div>
	        </div>
		</div>
		
	    <div class="col-xs-6">
			<div class="box box-danger">
				<div class="box-header">
	                <h3 class="box-title">上月收入<small>上月收入明细($!{user.lastMonthIncome.yearMonth})</small></h3>
	            </div>
	            <div class="box-body">
	            
	            	<div class="form-group">
	                    <label for="type">IP总数 : </label>
	                    <label>$!{user.lastMonthIncome.uip}</label>
	                </div>
		                                    
		        	<div class="form-group">
	                    <label for="catId">PV总数 : </label>
	                    <label>$!{user.lastMonthIncome.pv}</label>
	                </div>
	                
	                <div class="form-group">
	                    <label for="catId">推荐奖励IP : </label>
						<label>$!{user.lastMonthIncome.referee}</label>
	                </div>
	                
	                <div class="form-group">
	                    <label for="catId">活跃度奖励IP : </label>
						<label>$!{user.lastMonthIncome.activity}</label>
	                </div>
	                
	                <div class="form-group">
	                    <label for="catId">总收入 : </label>
						<label>$!{user.lastMonthIncome.totalIncome}</label>
	                </div>
	                
	            </div>
	        </div>
		</div>
		
		<div class="col-xs-6">
			<div class="box box-danger">
				<div class="box-header">
	                <h3 class="box-title">本月收入<small>本月收入明细($!{user.currentIncome.yearMonth})</small></h3>
	            </div>
	            <div class="box-body">
	            
		            <div class="form-group">
	                    <label for="type">IP总数 : </label>
						<label>$!{user.currentIncome.uip}</label>
	                </div>
		                                    
		        	<div class="form-group">
	                    <label for="catId">PV总数 : </label>
						<label>$!{user.currentIncome.pv}</label>
	                </div>
	                
	                <div class="form-group">
	                    <label for="catId">推荐奖励IP : </label>
						<label>$!{user.currentIncome.referee}</label>
	                </div>
	                
	                <div class="form-group">
	                    <label for="catId">活跃度奖励IP : </label>
						<label>$!{user.currentIncome.activity}</label>
	                </div>
	                
	                <div class="form-group">
	                    <label for="catId">总收入 : </label>
						<label>$!{user.currentIncome.totalIncome}</label>
	                </div>
	                
	            </div>
	        </div>
		</div>
	</div>
	
	<script src="$cdn.name("js/plugins/datatables/jquery.dataTables.js")" type="text/javascript"></script>
	<script src="$cdn.name("js/plugins/datatables/dataTables.bootstrap.js")" type="text/javascript"></script>
	<script type="text/javascript">
	    $(function() {
	        $("#userinfo").dataTable({
	            "bPaginate": false,//分页
	            "bLengthChange": false,
	            "bFilter": false,
	            "bSort": true,
	            "bInfo": true,
	            "bAutoWidth": false,
				"oLanguage": {
					"sInfo": "",
					"sInfoEmpty": ""
			 	}
	        });
	    });
	</script>
#else
	<div class="row">
	    <div class="col-xs-12">
			<div class="box box-danger">
	            <div class="box-body">
		            <div class="form-group">
	                    <label>用户账户信息查询失败！</label>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
#end